---
layout: default
---


<section>
    <a href="/"><img src="/images/logo.svg" alt="Arete Forms help Center" class="logo" /></a>
    <h1>Arete Forms Help Center</h1>
    <h2>Find out which form you need</h2>
    <a href="mailto:annie.guo@arete.com" class="help-link">Help</a>

</section>

{% for question in site.data.questions %}
  
  <h4>{{ question.q }}</h1>
  <div class="btn-group">
    <button type="button" class="btn btn-info" id="first"><a href="#bd" class="selected">{{ question.a }}</a></button>
    <button type="button" class="btn btn-info" id="first"><a href="#ria">{{ question.a2 }}</a></button>
    <button type="button" class="btn btn-info" id="first"><a href="#insurance">{{ question.a3 }}</a></button>
  </div>

{% endfor %}

<section id="q1" class="question">
  <h4>Which type of business do you want to do?</h1>
  <div class="btn-group">
    <button type="button" class="btn btn-info" id="first"><a href="#bd" class="selected">Broker Dealer</a></button>
    <button type="button" class="btn btn-info" id="first"><a href="#ria">RIA</a></button>
    <button type="button" class="btn btn-info" id="first"><a href="#insurance">Insurance</a></button>
  </div>
  <!-- ### -->
  <ul class="wrapper">

    <li id="q2" id="question_transaction" >
      <h4>Which type of BD transaction do you want to do?</h4>
      <ul class="bd_transaction nav-pills nav-justified">
        <li><a id="bd_new_account" href="#later" class="selected">Open a New BD Account</a></li>
        <li><a id="bn_new_transaction" href="#bd_custodian">Start a New BD Transaction</a></li>
        <li><a id="bd_move_account" href="#bd_custodian">Move BD Account </a></li>
      </ul>
    </li>

      <ul class="wrapper">
      <li class="q3" id="question_custodian">
        <h4>Which custodian do you use?</h4>
        <ul class="bd_custodian tabs">
          <li><a id="bd_nfs" href="#" class="selected">NFS</a></li>
          <li><a id="bd_tda" href="#">TDA</a></li>
          <li><a id="bd_schwab" href="#">Schwab</a></li>
          <li><a id="bd_iws" href="#">Fidelity IWS</a></li>
          <li><a id="bd_tpmr" href="#">TPMR</a></li>
          <li><a id="bd_no_custodian" href="#">No Custodian (Held Direct)</a></li>
        </ul>
      </li>

           <ul class="wrapper">
            <li class="q4" id="question_ANAF">
              <h4>Has the client filed an ANAF in the past 2 years?</h4>
              <ul class="bd_ANAF tabs">
                <li><a id="bd_ANAF_y" href="#" class="selected">Yes</a></li>
                <li><a id="bd_ANAF_n" href="#">No</a></li>
              </ul>
            </li>

                <ul class="wrapper">
                <li class="q5" id="question_AI">
                  <h4>Is this an alternative investment? If so, what type?</h4>
                  <ul class="bd_AI tabs">
                      <li><a id="bd_private_placement" href="#" class="selected">Private Placement</a></li>
                      <li><a id="bd_reit" href="#">REIT</a></li>
                      <li><a id="bd_energy" href="#">Energy Private Placement</a></li>
                      <li><a id="bd_complex_product" href="#">Complex Products</a></li>
                      <li><a id="bd_affliated_offering" href="#">Affiliated Offerings</a></li>
                      <li><a id="bd_mms" href="#">Third Party Money Managers</a></li>
                      <li><a id="bd_no_ai" href="#">Not an alternative investment</a></li>
                  </ul>
                </li>

                <ul class="wrapper">
                <li class="q6" id="answer_bd">
                  <h4>Here's a list of forms you need:</h4> <!-- to start an account @ NFS -->
                  <ul class="bd_answer tabs">
                      <li><a id="bd_list_of_form" href="#" class="selected">List of forms you need</a></li>
                      <li><p>Remember, always have the OFAC check and driver's license</p></li>
                  </ul>
                </li>
                </ul>

                </ul>

            </ul>
      </ul>

<!-- <ul class="wrapper"> -->
    <li id="q7" class="question transaction" >
      <h4>Which type of RIA transaction do you want to do?</h4>
      <ul class="ria_transaction">
        <li><a id="ria_new_account" href="#" class="selected">Open New RIA Account</a></li>
        <li><a id="ria_new_transaction" href="#">Start a New RIA Transaction</a></li>
        <li><a id="ria_move_account" href="#">Move RIA Account </a></li>
      </ul>
    </li>

      <ul class="wrapper">
          <li class="q8" id="answer_ria">
          <h4>Here's a list of forms you need:</h4> <!-- to start an account @ NFS -->
          <ul class="ria_answer tabs">
             <li><a id="ria_list_of_form" href="#" class="selected">List of forms you need</a></li>
             <li><p>Remember, always have the OFAC check and driver's license</p></li>
          </ul>
          </li>
      </ul>

</ul>

<ul class="wrapper"> 
    <li class="q5" id="insurance transaction">
      <h4>Which type of Insurance transaction do you want to do?</h4>
      <ul class="insurance_transaction">
        <li><a id="insurance_new_account" href="#" class="selected">Open New Insurance Account</a></li>
        <li><a id="insurance_new_transaction" href="#">Start a New Insurance Transaction</a></li>
        <li><a id="insurance_move_account" href="#">1035 Exchange or Insurance Surrender</a></li>
      </ul>
    </li>

          <ul class="wrapper">
              <li class="q8" id="question_variable">
              <h4>Is this a variable life annuity?</h4> 
              <ul>
                 <li><a id="variable_yes" href="#" class="selected">Yes</a></li>
                 <li><a id="variable_no" href="#">No</a></li>
              </ul>
              </li>


              <ul class="wrapper">
                  <li class="q8" id="question_switch">
                  <h4>Is this a switch transaction?</h4> 
                  <ul>
                     <li><a id="switch_yes" href="#" class="selected">Yes</a></li>
                     <li><a id="switch_no" href="#">No</a></li>
                  </ul>
                  </li>


                  <ul class="wrapper">
                      <li class="q8" id="answer_insurance">
                      <h4>Here's a list of forms you need:</h4> <!-- to start an account @ NFS -->
                      <ul class="insurance_answer tabs">
                         <li><a id="insurance_list_of_form" href="#" class="selected">List of forms you need</a></li>
                         <li><p>Remember, always have the OFAC check and driver's license</p></li>
                  </ul>
              </li>
          </ul>

              </ul>




          </ul>








</ul>



<!-- Q3
(\__/)
(='.'=)
(")_(")      this is a text bunny

-->


<section id="next-steps">
  <h3>Now that you’re good with the forms, here are a few things you should know.</h3>

  <ul class="next-steps wrapper">
    <div class="row">
      <div class="col-md-4">
        <li>
          <a class="hero-octicon" href="https://help.github.com/articles/using-jekyll-with-pages">
            <span class="mega-octicon octicon-pencil"></span>
          </a>
          <h4><a href="https://help.github.com/articles/using-jekyll-with-pages">AI Insight Exam</a></h4>
          <p>Before making any new alternative investment sales, you need to pass the product exam on <a href="#">AI Insight</a></p>
        </li>
      </div>
      <div class="col-md-4">
        <li>
          <a class="hero-octicon" href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">
            <span class="mega-octicon octicon-link"></span>
          </a>
          <h4><a href="https://help.github.com/articles/setting-up-a-custom-domain-with-pages">Approval Center</a></h4>
          <p>Remember, you need to upload all subscription documents to <a href="">Arete's Approval Center</a> to get paid.</p>
        </li>
      </div>
      <div class="col-md-4">
        <li class="guides">
          <a class="hero-octicon" href="https://help.github.com/categories/20/articles">
            <span class="mega-octicon octicon-book"></span>
          </a>
          <h4><a href="https://help.github.com/categories/20/articles">Got Questions?</a></h4>
          <p>We are here to help. <a mailto:annie.guo@aretewealth.com>Email Us.</a></p>
        </li>
      </div>
      </div>
  </ul>
</section>

<!-- Q3
(\__/)
(='.'=)
(")_(")      this is a text bunny for

-->


<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
